<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GlobalHotKey" version="1.1.0" targetFramework="net45" />
  <package id="GoogleAnalyticsTracker.Core" version="3.0.20" targetFramework="net45" />
  <package id="GoogleAnalyticsTracker.Simple" version="3.0.20" targetFramework="net45" />
  <package id="ILMerge" version="2.13.0307" targetFramework="net45" />
  <package id="MahApps.Metro" version="0.14.0-ALPHA98" targetFramework="net45" />
</packages>